# -*- mode: gitignore; -*-

### gitignore from https://github.com/github/gitignore

### * Editors
### ** Emacs 
*~
\#*\#
.\#*

### *** Emacs elisp
*.elc

### *** ELPA directory
elpa/

### *** Emacs-W3 directory
url/

### *** bookmark: https://www.emacswiki.org/emacs/BookMarks
bookmarks

### ** Vi
*.swp

